.contest {
  background-color: #ffffff;
}

.contest__wrapper {
  display: flex;
  flex-direction: column;

  @include wrapper-set;
}

.contest__title-container {
  margin-top: -65px;
  padding-top: 75px;
  padding-bottom: 40px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-color: #283645;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.contest__title {
  padding-left: 5%;
  padding-right: 5%;

  @include font-param(24px, 28px);
  color: #ffffff;
  font-weight: 300;
  text-align: center;
}

.contest__description {
  margin-top: 40px;
  margin-bottom: 0;

  @include font-param(14px, 30px);
  text-align: center;
}

@media (max-width: 659px) {
  .contest__description-notmobile {
    display: none;
  }
}

.contest__form {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

@media (min-width: $tablet-width) {
  .contest__title-container {
    margin-top: -105px;
    padding-top: 135px;
    padding-bottom: 40px;

    background-image: url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .contest__title {
    @include font-param(50px, 60px);
  }

  .contest__description {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 90px;
    margin-bottom: 0;

    @include font-param(18px, 30px);
  }

  .contest__form {
    margin-top: 70px;
  }

  .user-info-container {
    order: 1;
  }

  .contacts-container {
    order: 3;
  }

  .contest__wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .contest__title-container {
    margin-top: -110px;
    padding-top: 135px;
    padding-bottom: 60px;

    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .contest-description-wrapper {
    width: 100%;
  }

  .contest__title {
    padding-left: 10%;
    padding-right: 10%;
  }

  .contest__form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    margin-top: 80px;
  }

  .contest__wrapper {
    margin: 0;
  }

  .field-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 60px;
    padding-right: 60px;
  }
}
