.features {
  padding-top: 45px;
  color: #283645;
  background: linear-gradient(175deg, #ffffff 0%, #ffffff 26%, #f2f2f2 26%, #f2f2f2 100%);
  text-align: center;
}

.features__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include wrapper-set;
}

.features__container {
  display: flex;
  flex-direction: column;
}

.features__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include list-clear;
  padding-top: 35px;
}

.features__description {
  margin-top: 0;
  margin-bottom: 40px;

  @include font-param(24px, 24px);
  text-align: center;
}

.features__title {
  margin: 0;

  @include font-param(18px, 18px);
}

.features__text {
  margin-top: 20px;
  margin-bottom: 0;

  @include font-param(14px, 24px);
}

.features__item {
  width: 280px;
  margin-top: 40px;
}

.features__image {
  height: 280px;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 45px;
}

.features__item-image {
  display: none;
}

.research {
  display: none;
  background-color: #ffffff;
}

.research__wrapper {
  display: flex;

  @include wrapper-set;
}

.research__timer {
  display: block;
  padding: 40px;
  width: 90px;

  font-size: 96px;
  line-height: 90px;
  color: #d22856;
  border: 15px solid #d22856;
  border-radius: 50%;
}

@media (min-width: $tablet-width) {
  .features__container {
    margin-top: 40px;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .features__list {
    width: 310px;
  }

  .features__image {
    height: 480px;
    width: 265px;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .research {
    display: flex;
  }

  .research__link {
    @include font-param(14px, 24px);
    color: #d22856;
    text-decoration: underline;
  }

  .research__image {
    width: 240px;
    height: 275px;
    background-image: url("../img/timer.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .research__wrapper {
    margin-top: 60px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
  }

  .research__container {
    width: 310px;
  }

  .research__title {
    @include font-param(30px, 30px);
  }

  .features__description {
    margin-bottom: 0;

    @include font-param(40px, 40px);
  }
}

@media (min-width: $desktop-width) {
  .features__image {
    display: none;
  }

  .features__wrapper,
  .research__wrapper {
    max-width: 940px;
  }

  .features__list {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .research {
    background-color: #f2f2f2;
  }

  .research__container {
    width: 570px;

    text-align: left;
  }

  .research__link {
    @include font-param(18px, 30px);
  }

  .research__wrapper {
    margin-top: 65px;
    margin-bottom: 65px;
    justify-content: space-between;
  }

  .research__text {
    @include font-param(18px, 30px);
  }

  .research__image {
    width: 300px;
    height: 345px;
  }

  .features__item-image {
    display: block;
  }

  .features__title {
    margin-top: 55px;

    @include font-param(30px, 30px);
  }

  .features__text {
    margin-top: 30px;

    @include font-param(18px, 30px);
  }
}
