.form__user-info,
.form__achieves,
.form__contacts,
.form__soft {
  padding: 0;
  margin: 0;
  border: none;
}

.form__field {
  margin: 0;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form__field:last-child {
  margin-bottom: 40px;
}

.form__field label {
  margin-left: 20px;

  @include font-param(14px, 30px);
  text-transform: uppercase;
  color: #d22856;
}

.form__field input {
  margin-top: 5px;
}

.form__field input,
.form__message textarea {
  padding: 0 20px;
  height: 60px;

  outline: none;
  border: 2px solid #e5e5e5;

  @include font-param(18px, 30px);
  color: #283645;

  &:hover {
    border-color: #000000;
  }

  &:focus {
    border-color: #d22856;
  }
}

.form__achieves {
  background-color: #f2f2f2;
}

.form__title {
  margin-top: 40px;
  padding-left: 15%;
  padding-right: 15%;

  @include font-param(14px, 18px);
  text-transform: uppercase;
  color: #d22856;
  text-align: center;
}

.form__achieve-list {
  @include list-clear;
  margin-top: 30px;
}

.form__contacts legend {
  visibility: hidden;
}

.form__soft {
  background-color: #f2f2f2;
}

.form__message textarea {
  resize: none;
  margin-top: 15px;
  padding-bottom: 30px;
}

.form__submit {
  margin-top: 50px;
  padding: 16px 0;

  outline: none;
  border: none;
  background-color: #2aab6d;

  @include font-param(18px, 30px);
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.form__legend {
  margin-top: 35px;
  margin-bottom: 15px;

  @include font-param(14px, 30px);
  text-transform: uppercase;
  color: #283645;
  text-align: center;

  & .form__legend-star {
    color: #d22856;
  }
}

.form__legend-desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .form__field {
    margin-bottom: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;

    &:last-child {
      margin-bottom: 65px;
    }

    & label {
      margin-left: 0;
    }

    & input {
      margin-top: 0;
      margin-left: 16px;
      flex-grow: 2;
    }
  }

  .form__soft {
    order: 2;
  }

  .form .form__soft {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;

    @include wrapper-set;
  }

  .form .form__contacts {
    margin-top: 60px;
    padding-top: 35px;
    border: 2px solid #e5e5e5;
  }

  .form__contacts .form__field {
    margin-bottom: 30px;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    padding-left: 60px;
    padding-right: 60px;

    &:last-child {
      margin-bottom: 25px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 60px;
      height: 60px;
      background-color: #e5e5e5;
      top: 2px;
      right: 60px;

      background-repeat: no-repeat;
      background-position: center;
    }

    &:first-of-type::after {
      background-image: url("../img/icon-phone.svg");
    }

    &:last-of-type::after {
      background-image: url("../img/icon-mail.svg");
    }
  }

  .form__contacts input {
    position: relative;
    margin: 0;
    width: calc(100% - 42px);
  }

  .form__contacts label {
    margin-top: 10px;
    margin-left: 20px;
  }

  .form__contacts legend {
    visibility: visible;
  }

  .form__achieves {
    order: 4;
    border: 2px solid #e5e5e5;
    background-color: #ffffff;

    @include wrapper-set;
    margin-top: 65px;

    & .achieves {
      margin-top: 35px;
      padding-left: 40px;
    }
  }

  .form__message {
    order: 5;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include wrapper-set;
    margin-top: 65px;

    border: 2px solid #e5e5e5;

    & textarea {
      margin-top: 38px;
      margin-left: 40px;
      margin-right: 40px;
      margin-bottom: 45px;
    }
  }

  .submit {
    order: 6;
    margin-top: 70px;
    margin-bottom: 45px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    & .form__submit {
      margin: 0;
      width: 300px;
      font-weight: bold;
    }

    & .form__legend {
      margin: 0;
    }
  }

  .form__title {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
  }

  .form__soft .form__title {
    width: 340px;
  }

  .form__message .form__title {
    width: 190px;
  }

  .form__achieve-title {
    width: 380px;
  }
}

@media (min-width: $desktop-width) {
  .form__user-info .form__field:last-child {
    margin-bottom: 0;
  }

  .form .form__contacts {
    width: 940px;
    margin: 0 auto;
    margin-top: 55px;
    padding-top: 35px;

    & input {
      width: 331px;
    }
  }

  .form__contacts .form__field {
    padding: 0;
    margin-bottom: 10px;

    &::after {
      top: 2px;
      right: 2px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .user-info-container,
  .form .form__soft {
    width: 430px;
  }

  .form__user-info {
    margin-top: 5px;
  }

  .contest__wrapper,
  .form__achieves,
  .form__message,
  .form .form__soft {
    margin: 0;
  }

  .form__achieve-list {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .field-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 60px;
    padding-right: 60px;
  }

  .form__achieves-container {
    width: 940px;
    margin: 0 auto;
    padding-bottom: 10px;
  }

  .form__achieves {
    margin-top: 65px;
  }

  .form__achieves .achieves {
    margin-top: 35px;
    margin-left: 20px;
    padding-left: 35px;
    padding-right: 10px;
  }

  .form__message {
    width: 940px;
    margin: 0 auto;
    margin-top: 65px;
  }

  .form__message textarea {
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 45px;
    height: 80px;
  }

  .form__legend {
    width: 320px;
    display: flex;
    justify-content: center;
  }

  .form__legend-desktop {
    display: block;
  }

  .submit {
    width: 940px;
    margin: 0 auto;
    margin-top: 65px;
    margin-bottom: 10px;
  }
}
