.page-header {
  display: flex;
  flex-direction: column;
  background-color: #1c2530;
}

.page-header__container {
  padding-top: 35px;
  padding-bottom: 85px;
}

.page-header__title {
  @include font-param(24px, 24px);
  color: #ffffff;
  font-weight: normal;
}

@media (min-width: $desktop-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
  }
}
