.page-header {
  background-color: #1c2530;
}
.site-list__link {
  display: block;
  padding: 16px;

  text-align: center;
  color: #fff;
  text-transform: uppercase;
  @include font-param(18px, 32px);
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000;
}
.main-nav__list {
  @include list-clear;
}
