.page-footer {
  background-color: #ffffff;
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-footer--index {
  display: none;
}

.logo-f-desktop {
  display: none;
}

.page-footer__logo-image {
  fill: #000000;

  &:hover {
    fill: #d22856;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  @include wrapper-set;
}

.page-footer__copyright {
  margin: 0;
  margin-right: -5px;
  display: flex;
  align-items: center;

  @include font-param(14px, 18px);
  color: #283645;
}

.page-footer__icon {
  margin-left: 10px;
  margin-top: 10px;
  fill: #d22855;

  &:hover {
    fill: #000000;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 0;
    padding-bottom: 5px;
  }

  .page-footer--index {
    display: block;
  }


  .page-footer__wrapper {
    height: 125px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__copyright {
    margin-top: 10px;
    margin-left: 10px;
  }
}

@media (min-width: $desktop-width) {
  .logo-f-mobile {
    display: none;
  }

  .logo-f-desktop {
    display: block;
  }

  .page-footer {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .page-footer__wrapper {
    max-width: 940px;
    width: 940px;
    margin: 0 auto;
    padding-top: 20px;
  }

  .page-footer__copyright {
    @include font-param(18px, 18px);
  }
}
