.photos {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #283645;
}

.photos__title {
  display: block;
  margin: 0;
  margin-top: -65px;
  padding-top: 100px;
  padding-bottom: 85px;

  @include font-param(24px, 24px);
  font-weight: normal;
  text-align: center;
  color: #ffffff;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
}

.photos__panoram-of-day {
  max-width: 320px;
  align-self: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.photos__panoram-label {
  padding: 6px 0;
  width: 140px;
  position: absolute;
  top: 0;
  right: 40px;
  text-align: center;

  background-color: #d22856;
}

.photos__panoram-label p {
  margin: 0;

  @include font-param(12px, 24px);
  text-transform: uppercase;
  color: #ffffff;
}

.photos__panoram-photo {
  top: 50%;
  left: 50%;
}

.photos__image {
  width: 100%;
}

.photos__wrapper {
  max-width: 280px;
  display: flex;
  flex-direction: column;

  @include wrapper-set;
}

.photos__descriprion {
  margin-top: 55px;
  margin-bottom: 55px;
  text-align: center;

  @include font-param(14px, 30px);
}

.photos__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include list-clear;
}

.photos__item {
  width: 280px;
  margin-bottom: 20px;
  padding-bottom: 25px;
  background-color: #f2f2f2;
}

.photos__text {
  padding: 0 18px;
  margin-top: 10px;
  margin-bottom: 20px;

  @include font-param (14px, 24px);
}

.photos__author-info {
  padding: 0 18px;
  margin-top: 25px;

  @include font-param(14px, 24px);
}

.photos__author-name {
  font-weight: bold;
}

.photos__upload-time {
  text-transform: uppercase;
  font-size: 12px;
}

.photos__like {
  position: relative;
  padding-left: 50px;
  margin: 0;

  @include font-param(12px, 24px);
  color: #d22856;
  text-transform: uppercase;
}

.photos__like::before {
  position: absolute;
  content: "";
  width: 13px;
  height: 12px;
  top: 5px;
  left: 18px;

  background-image: url("../img/icon-heart.png");
}

.page-footer__logo-image {
  &:hover path {
    fill: #d22856;
  }

  &:active {
    opacity: 0.3;
  }

  &:active g path {
    fill: #000000;
  }
}

@media (min-width: $tablet-width) {
  .photos__title {
    margin-top: -110px;
    padding: 190px 0;

    @include font-param(50px, 50px);
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  .photos__panoram-of-day {
    max-width: 660px;
  }

  .photos__panoram-of-day .photos__item {
    position: relative;
    width: 620px;
  }

  .photos__panoram-of-day .photos__like {
    position: absolute;
    top: 30px;
    right: 55px;
  }

  .photos__panoram-of-day .photos__like::before {
    left: 150px;
  }

  .photos__panoram-label {
    top: 60px;
    right: 40px;
  }

  .photos__wrapper {
    max-width: 620px;
  }

  .photos__list {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .photos__item:not(:nth-child(2n)) {
    margin-right: 20px;
  }

  .photos__item {
    display: flex;
    flex-direction: column;
    width: 300px;
  }

  .photos__text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  .photos__descriprion {
    margin-top: 100px;
    margin-bottom: 80px;

    @include font-param(18px, 30px);
  }
}

@media (min-width: $desktop-width) {
  .photos__title {
    margin-top: -110px;
    padding-top: 175px;
    padding-bottom: 105px;

    @include font-param(50px, 50px);
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

  .photos__wrapper {
    min-width: 960px;
  }

  .photos__item:not(:nth-child(3n)) {
    margin-right: 20px;
  }

  .photos__panoram-of-day {
    max-width: 100%;
  }

  .photos__panoram-of-day .photos__item {
    width: 940px;
  }
}
