.social {
  margin-top: 35px;
  margin-bottom: 30px;
}

.social__list {
  display: flex;

  @include list-clear;
}

.social__link {
  display: block;
  width: 46px;
  height: 46px;

  border: 3px solid #e9ebec;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    border: 3px solid #000000;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__item:not(:nth-child(3)) {
  margin-right: 12px;
}

.social__link--twitter {
  background-image: url("../img/icon-twitter.svg");
}

.social__link--facebook {
  background-image: url("../img/icon-facebook.svg");
}

.social__link--youtube {
  background-image: url("../img/icon-youtube.svg");
}

@media (min-width: $tablet-width) {
  .social__list {
    padding-top: 10px;
    flex-direction: row;
  }

  .social {
    margin-top: 30px;
  }
}

@media (min-width: $desktop-width) {
  .social__list {
    margin-left: 25px;
  }
}
